
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NhapThongTin</title>
</head>
<body>
    <h2>Nhap thong tin nhan vien moi</h2>
    <form action="/QuanLyNhanVien/NhapThongTin" method="post">
        <table>
            <tr>
                <td>Nhap manv</td>
                <td><input type="text" name="manv" /></td>
            </tr>
            <tr>
                <td>Nhap hoten</td>
                <td><input type="text" name="hoten" /></td>
            </tr>
            <tr>
                <td>Nhap luong</td>
                <td><input type="number" name="luong" /></td>
            </tr>
            <tr>
                <td>Nhap thuong</td>
                <td><input type="number" name="thuong" /></td>
            </tr>
            <tr><td><input type="submit" value="Nhap" /></td></tr>
        </table>

    </form>
</body>
</html>
