
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tinh</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Chu ho</td>
                <td>@ViewBag.ChuHo</td>
            </tr>
            <tr>
                <td>So dien</td>
                <td>@ViewBag.SoDien</td>
            </tr>
            <tr>
                <td>Tien Dien</td>
                <td>@ViewBag.TienDien dong</td>
            </tr>
        </table>
    </div>
</body>
</html>
