
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Nhập điểm của sv</h2>
    <form action="/NhapDiem/XuLy" method="post">
        <div>Ma Sv: </div><input name="Id" />
        <div>Ho ten: </div><input name="Name" />
        <div>Diem: </div><input name="Marks" />
        <hr/>
        <input type="submit" value="Nhap"/>
    </form> <br />
</body>
</html>
