
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XuLy</title>
</head>
<body>
    <div>
        
        <table border="1">
            <tr>
                <td>Ma Sv: </td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Ten: </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Diem: </td>
                <td>@Model.Marks</td>
            </tr>



        </table>

    </div>
</body>
</html>
